.about {
    display: grid;
    grid-template-columns: repeat(1fr);
    padding-top: var(--spacer-lg);
    padding-bottom: var(--spacer-lg);
    gap: var(--spacer-sm);
  }
  
  .aboutCol {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacer-sm);
    align-self: flex-start;
  }
  
  
  @media screen and (min-width: 800px) {

  }
  
  @media screen and (min-width: 1200px) {
  
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacer-xlg);
  }
  }