.about {
    display: grid;
    grid-template-columns: repeat(1fr);
    padding: var(--spacer-lg) 0 0 0;
    gap: var(--spacer-lg);
  }
  
  .aboutCol {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacer-sm);
    align-self: flex-start;
  }