.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: var(--spacer-md);
    margin-top: var(--spacer-md);
}

.breadcrumbLink {
    font-family: 'DepartureMono-Regular', monospace;
    line-height: 180%;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--primary-text-color);
    font-weight: normal;
    margin-left: var(--spacer-xsm);
}