.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  touch-action: pan-x; /* Allow both horizontal and vertical panning */
  overflow-y: visible; /* Allow vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  user-select: none; /* Prevent text selection during drag */
  scroll-behavior: smooth;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.carouselContainer:active {
  scroll-behavior:initial;
}

.carousel {
  display: flex;
  width: max-content;
  cursor: grab;
  will-change: transform, scroll-position;
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
  transition: opacity 250ms ease-in-out;
}

.carousel:active {
  cursor: grabbing;
}

.imageWrapper {
  position: relative;
  width: 85vw;
  aspect-ratio: 1/1;
  margin-right: var(--spacer-xsm);
}

.imageWrapper:last-child {
  margin-right: 0;
}

.carouselImage {
  border-radius: var(--border-lg);
  user-select: none;
  pointer-events: none;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: opacity 250ms ease-in-out;
}

.imageLoading {
  opacity: 0;
}

.imageLoaded {
  opacity: 1;
}

.carousel img:last-child {
  margin-right: 0;
}

@media screen and (min-width: 600px) {
  .imageWrapper {
    width: 50vw;
  }
}  