.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.carousel {
  display: flex;
  width: max-content;
  cursor: grab;
  will-change: transform;
}

.carousel:active {
  cursor: grabbing;
}

.carousel img {
  height: 50vh;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  border-radius: var(--border-lg);
  margin-right: var(--spacer-xsm)
}

.carousel img:last-child {
  margin-right: 0;
}


@media screen and (min-width: 600px) {

  .carousel img {
  height: 60vh;
}
}

@media screen and (min-width: 800px) {

  .carousel img {
    height: 80vh;
  }
  }