.experienceCard {
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-xlg);
}

.experienceCard .header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-md);
  padding-top: var(--spacer-md);
  padding-bottom: var(--spacer-md);
}

.experienceCard .logo {
  width: 54px;
  height: auto;
  border-radius: var(--border-md);
}

.experienceCard .company {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: var(--spacer-sm);
}

.experienceCard .detail {
  display: grid;
  grid-template-columns: repeat(1, max-content);
}

.experienceCard .link {
  display: flex;
  grid-template-columns: repeat(2, fit-content);
  gap: var(--spacer-xxsm);
  align-items: center;
  width: fit-content;
}

.experienceCard .link img {
  height: 20px;
  width: auto;
  margin-top: 0;
  margin-bottom: var(--spacer-xsm);
}

.link a::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  right: 0;
  background: var(--primary-text-color);
  transition: width 0.5s ease, right 0.5s ease;
}

.link a:hover::after {
  width: 100%;
  right: 0;
}

.experienceCard .description {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-sm);
}

.experienceCard .info {
  margin-top: var(--spacer-xxsm);
  
}

.experienceCard .highlight {
  color: var(--primary-text-color);
}



@media screen and (min-width: 600px) {

.experienceCard .header {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacer-md);
}

.experienceCard .info {
  text-align: end;
}
}