.experienceCard {
  margin-bottom: var(--spacer-lg);
}

.experienceCard main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-md);
  padding-bottom: var(--spacer-md);
  padding-top: var(--spacer-lg);
}

.experienceCard h3 {
  padding-bottom: var(--spacer-sm);
}

.experienceCard .link {
  display: flex;
  grid-template-columns: repeat(2, fit-content);
  gap: var(--spacer-xxsm);
  align-items: center;
  margin-top: var(--spacer-sm);
  width: fit-content;
}

.experienceCard .link img {
  height: 20px;
  width: auto;
  margin-top: 0;
  margin-bottom: var(--spacer-xsm);
}

.link a::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  right: 0;
  background: var(--primary-text-color);
  transition: width 0.5s ease, right 0.5s ease;
}

.link a:hover::after {
  width: 100%;
  right: 0;
}

.experienceCard .description {
  margin-top: 0;
}

.experienceCard .highlight {
  color: var(--primary-text-color);
}

.experienceCard aside {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-xxsm);
  padding-bottom: var(--spacer-sm);  
  border-bottom: 1px solid var(--border-color);
}

.experienceCard aside .role {
  grid-column: 1 / 2;
}

.experienceCard aside .year {
  grid-column: 2 / 2;
}

@media screen and (min-width: 800px) {

  .experienceCard main {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacer-lg);
  }

  .experienceCard .description {
    margin-top: 52px;
  }

  .experienceCard aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacer-lg);
  }
}

@media screen and (min-width: 1200px) {

  .experienceCard main {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacer-lg);
  }

  .experienceCard aside {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}