.footer {
    display: grid;
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
    gap: var(--spacer-md);
    align-items: center;
  }

.preFooter {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: var(--spacer-md);
    align-items: center;
}

.subFooter {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: var(--spacer-xsm);
    align-items: center;
    padding-top: var(--spacer-md);
    padding-bottom: var(--spacer-lg);
}