.thumbnailGrid {
  padding-top: 58px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.thumbnail {
  width: 100%;
  height: auto;
  cursor: url('/media/pointer.png'), pointer;
}

.thumbnail img {
  width: 100%;
  height: auto;
  border-radius: var(--border-sm);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-out;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.overlay.show {
  opacity: 1;
  visibility: visible;
  cursor: url('/media/pointer.png'), pointer;
  transition: opacity 300ms ease-out;
}

.carouselContainer {
  position: relative;
  width: 100vw;
  margin-left: var(--spacer-sm);
  margin-right: var(--spacer-sm);
  height: auto;
  background: none;
  animation: fadeIn 250ms ease-in-out;
}

.carouselContainer.exit {
  animation: fadeOut 250ms ease-in-out;
}

.carouselImage {
  width: 100%;
  height: auto;
  border-radius: var(--border-md);
}

.customArrow {
  font-family: 'DepartureMono-Regular', monospace;
  line-height: 150%;
  font-size: 0.8rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-text-color);
  z-index: 1000;
}

.customArrow:hover {
  color: var(--secondary-text-color);
  cursor: url('/media/pointer.png'), pointer;
}

.customArrowPrev {
  left: 8px;
}

.customArrowNext {
  right: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (min-width: 800px) {

  .carouselContainer {
    max-width: 60vw;
  }
}