.introTop {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: var(--spacer-md);
  padding-top: 0;
  gap: var(--spacer-md);
}

.introHeading {
  grid-column: 1 / span 2;
}

.introBottom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-sm);
  margin-bottom: var(--spacer-sm);
}

@media (min-width: 800px) {
  .introBottom {
    margin-bottom: var(--spacer-lg);
  }
}

.introDescription {
  color: var(--primary-text-color);
}