.hero {
  padding-top: var(--spacer-lg);
  padding-bottom: var(--spacer-xlg);
}

.introTop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacer-lg);
  padding-top: var(--spacer-md);
  padding-bottom: var(--spacer-lg);
}

.introHeading {
  font-family: 'PPEditorialOld-Ultralight', Times, serif;
  font-weight: 300;
  letter-spacing: 2%;
  font-size: 4.6rem;
  line-height: 120%;
  color: var(--primary-text-color);
  grid-column: 1 / span 3;
  padding-bottom: var(--spacer-md);
}

.introBottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacer-lg);
  padding-top: var(--spacer-md);
  padding-bottom: var(--spacer-lg);
}



@media screen and (min-width: 600px) {

}


@media screen and (min-width: 800px) {

}


@media screen and (min-width: 1200px) {

}