.post::after {
    display: none;
}

.postContent {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    padding: var(--spacer-sm);
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-md);
}

.mediaContainer {
    position: relative;
    width: 100%;
    border-radius: var(--border-md);
    overflow: hidden;
    margin-bottom: var(--spacer-md);
    background-color: transparent;
}

.postDate {
    margin-bottom: var(--spacer-xxsm);
    min-width: 120px;
}

.postImageContainer {
    position: relative;
    display: inline-block;
    border-radius: var(--border-md);
    overflow: hidden;
}

.postImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 300ms ease-in;
    border-radius: var(--border-md);
    overflow: hidden;
}

video.postImage:not(.loaded) {
    opacity: 0;
}

video.postImage.loaded {
    opacity: 1;
}

.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
    border-radius: var(--border-md);
    background-color: var(--background-color-hover);
    transition: background-color 250ms ease-in-out;
}

.videoWrapper.loading {
    background-color: var(--background-color-hover);
    transition: background-color 250ms ease-in-out;
}

.videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    background-color: var(--background-color-hover);
}

.postMeta {
    display: grid;
    gap: var(--spacer-xxsm);
    margin-bottom: var(--spacer-md);
}