.navwrapper {
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: -50%;
    z-index: 10;
    width: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0), var(--background-color));
    height: 120px;
}

.navbar {
    display: grid;  
    grid-template-columns: repeat(2, max-content);
    width: auto;
    gap: var(--spacer-xxsm);
    padding: var(--spacer-xxsm);
    background-color: var(--surface-color);
    position: fixed;
    bottom: var(--spacer-sm);
    left: 50%;
    translate: -50%;
    z-index: 10;
    border-radius: 12px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid var(--border-color-dark);
}

.navitem {
    padding-right: var(--spacer-md);
    padding-left: var(--spacer-md);
    padding-top: var(--spacer-xsm);
    padding-bottom: var(--spacer-xsm);
    border-radius: 8px;
    transition: background-color 250ms linear, color 250ms linear;
}

.navitem:hover {
    text-decoration: none;
    background-color: var(--surface-color);
    color: var(--primary-text-color);
    transition: background-color 250ms linear, color 250ms linear;
}

.navitem.active {
    background-color: var(--inverse-primary-color);
    color: var(--primary-text-color);
    transition: background-color 250ms linear, color 250ms linear;
}

.navitem::after {
    display: none;
}