.post::after {
    display: none;
}

.post:hover .postTitle {
    color: var(--secondary-text-color);
    transition: color 250ms linear;
}

.postContent {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    padding-bottom: var(--spacer-sm);
    padding-top: var(--spacer-sm);
    border-bottom: 1px solid var(--border-color-light);
}

.postTitle {
    width: 100%;
    transition: color 250ms linear;
}

.postDate {
    margin-bottom: var(--spacer-xxsm);
    min-width: 120px;
}

.postImage {
    width: 64px;
    height: 64px;
    object-fit: cover;
}


@media screen and (min-width: 600px) {

}
  
@media screen and (min-width: 800px) {

.postContent {
    display: flex;
    flex-direction: row;
    align-content: baseline;
}

.postTitle {
    width: 100%;
    margin-right: var(--spacer-sm);
    margin-bottom: 0px;
}

.postDate {
    margin-top: var(--spacer-xxsm);
    margin-right: var(--spacer-sm);
}
}
  
@media screen and (min-width: 1200px) {
  
}