.post::after {
    display: none;
}

.post {
    transform: translateY(0);
    transition: background-color 250ms ease-out, border-color 250ms ease-out, transform 250ms ease-out;
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-md);
    background-color: var(--background-color);
}

.post:hover {
    transform: translateY(-2px);
    transition: background-color 250ms ease-out, border-color 250ms ease-out, transform 250ms ease-out;
    border-color: var(--border-color-lighter);
    background-color: var(--background-hover-color);
}

@media screen and (max-width: 600px) {
    .post:hover {
      background-color: var(--background-color);
      border-color: var(--border-color-light);
      transform: none;
    }
}

.postTitle {
    width: 100%;
    margin-bottom: var(--spacer-sm);
    margin-top: var(--spacer-sm);
}

.postMeta {
    display: grid;
    gap: var(--spacer-xxsm);
    min-width: 120px;
    margin-bottom: var(--spacer-md);
}

.postAction {
    margin-top: var(--spacer-lg);
    display: flex;
    gap: var(--spacer-xsm);
    align-items: center;
    color: var(--secondary-text-color);
}