.preheader {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-xs);
  margin-top: var(--spacer-md);
}

.preheaderLeft {
align-items: center;
}

.preheaderRight {
  display: flex;
  justify-content: start;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: var(--spacer-xxsm);
  margin-top: 2px;
}