.showcaseContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--spacer-md);
}

.viewport {
  overflow: hidden;
  width: 100%;
  cursor: grab;
}

.dragging,
.dragging .container,
.dragging .slide {
  cursor: grabbing !important;
}

.container {
  display: flex;
  will-change: transform;
  backface-visibility: hidden;
  cursor: grab;
}

.slide {
  flex: 0 0 auto;
  min-width: 0;
  max-width: 100%;
  position: relative;
}

.imageWrapper {
  position: relative;
  width: auto;
  overflow: hidden;
  padding-right: var(--spacer-xsm);
}

.showcaseImage {
  height: 70vh;
  width: auto;
  object-fit: cover;
  border-radius: 8px;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Mobile and tablet adjustments */
@media (max-width: 480px) {
  .showcaseImage {
    height: 30vh;
    width: 100%;
    object-position: center;
  }
  
  .slide {
    width: 90vw;
  }
  
  .imageWrapper {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .showcaseImage {
    height: 40vh;
    width: 100%;
    object-position: center;
  }
  
  .slide {
    width: 70vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .showcaseImage {
    height: 50vh;
  }
  
  .slide {
    width: 60vw;
  }
}

.imageLoading {
  opacity: 0;
}

.imageLoaded {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}