@font-face {
  font-family: 'PPEditorialOld-Ultralight';
  src: url('../public/fonts/PPEditorialOld-Ultralight.woff') format('woff'),
      url('../public/fonts/PPEditorialOld-Ultralight.woff2') format('woff2');
}

@font-face {
  font-family: 'PPEditorialOld-UltralightItalic';
  src: url('../public/fonts/PPEditorialOld-UltralightItalic.woff') format('woff'),
  url('../public/fonts/PPEditorialOld-UltralightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'NeueMontreal-Regular';
  src: url('../public/fonts/NeueMontreal-Regular.woff') format('woff'),
  url('../public/fonts/NeueMontreal-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DepartureMono-Regular';
  src: url('../public/fonts/DepartureMono-Regular.woff') format('woff'),
  url('../public/fonts/DepartureMono-Regular.woff2') format('woff2');
}

:root {
  --background-color: #111111;
  --primary-text-color: white;
  --secondary-text-color: #b0b0b0;
  --border-color: rgba(172, 172, 172, 0.25);

  --spacer-xlg: 80px;
  --spacer-lg: 40px;
  --spacer-md: 24px;
  --spacer-sm: 16px; 
  --spacer-xsm: 8px;
  --spacer-xxsm: 4px;

  --opacity-md: 0.3;
}

/* Foundations */

html {
  cursor: url('/media/arrow.png'), auto;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: none;
  padding-left: var(--spacer-md);
  padding-right: var(--spacer-md);
  padding-top: var(--spacer-lg);
  padding-bottom: var(--spacer-);
  background-color: var(--background-color);
  color: var(--primary-text-color);
  max-width: 1440px;
  margin: auto;
  }

  @media screen and (min-width: 600px) {

  body {
    padding-left: var(--spacer-lg);
    padding-right: var(--spacer-lg);
   }
  }

.heading-xl {
    font-family: 'PPEditorialOld-Ultralight', Times, serif;
    font-weight: 300;
    letter-spacing: 2%;
    font-size: 2.0rem;
    line-height: 140%;
    color: var(--primary-text-color);
}

.heading-l {
  font-family: 'PPEditorialOld-Ultralight', Times, serif;
  font-weight: 300;
  letter-spacing: 2%;
  font-size: 2rem;
  line-height: 140%;
  color: var(--primary-text-color);
}

.heading-md {
  font-family: 'PPEditorialOld-Ultralight', Times, serif;
  font-weight: 300;
  letter-spacing: 2%;
  font-size: 1.6rem;
  line-height: 140%;
  color: var(--primary-text-color);
}

.heading-sm {
  font-family: 'PPEditorialOld-Ultralight', Times, serif;
  font-weight: 300;
  letter-spacing: 2%;
  font-size: 1.2rem;
  line-height: 130%;
  color: var(--primary-text-color);
}

.italics {
  font-family: 'PPEditorialOld-UltralightItalic', Times, serif;
  font-weight: 300;
  letter-spacing: 3%;
  font-size: 1.2rem;
  line-height: 120%;
}

.mono-md {
  font-family: 'DepartureMono-Regular', monospace;
  line-height: 100%;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.mono-sm {
  font-family: 'DepartureMono-Regular', monospace;
  line-height: 150%;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.paragraph-md {
  font-family: 'NeueMontreal-Regular', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 1%;
  line-height: 160%;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}

.paragraph-sm {
  font-family: 'NeueMontreal-Regular', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 1%;
  line-height: 160%;
  font-size: 0.8rem;
  color: var(--secondary-text-color);
}

a {
  font-family: 'NeueMontreal-Regular', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 1%;
  line-height: 160%;
  font-size: 0.9rem;
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: url('/media/pointer.png'), pointer;
}


/* Clock */
.preheader-right {
  display: flex;
  justify-content: start;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: var(--spacer-sm);
}

.clock {
  display: inline-block;
}

@media screen and (min-width: 800px) {

.clock {
  margin-top: 0;
  margin-bottom: 3px;
}
}

/* Video */
.video {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-lg);
  padding-top: var(--spacer-lg);
  padding-bottom: var(--spacer-lg);
}

.video-wrapper {
  grid-column: 1;
  position: relative;
  width: 100%;
  padding-bottom: 61.8%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  background-color: #ACACAC;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hero */
.preheader {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-md);
  padding-bottom: var(--spacer-md);
  width: 100%;
}

.preheader-left {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacer-xsm);
}

.intro {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-md);
  padding-top: var(--spacer-md);
  padding-bottom: var(--spacer-md);
}

@media screen and (min-width: 600px) {

  .preheader {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: var(--spacer-lg);
  }

  .preheader-right {
    justify-content: end;
    gap: var(--spacer-xsm);
  }
}

@media screen and (min-width: 800px) {

  .intro {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacer-lg);
  }
}

@media screen and (min-width: 1200px) {

  .intro {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacer-lg);
  } 
  
  .video {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: var(--spacer-xlg);
  }
  
  .video-wrapper {
    grid-column: 2;
  }
}

/* Experience card */

.experience-card {
  margin-bottom: var(--spacer-lg);
}

.experience-card main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-md);
  padding-bottom: var(--spacer-md);
  padding-top: var(--spacer-lg);
}

.experience-card img {
  grid-column: 1 / span 4;
  width: 100%;
  height: auto;
}

.experience-card h3 {
  padding-bottom: var(--spacer-sm);
}

.experience-card .link {
  display: flex;
  grid-template-columns: repeat(2, fit-content);
  gap: var(--spacer-xxsm);
  align-items: center;
  margin-top: var(--spacer-sm);
  width: fit-content;
}

.experience-card .link img {
  height: 20px;
  width: auto;
  margin-top: 0;
  margin-bottom: var(--spacer-xsm);
}

.link a::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  right: 0;
  background: var(--primary-text-color);
  transition: width 0.5s ease, right 0.5s ease;
}

.link a:hover::after {
  width: 100%;
  right: 0;
}


.experience-card .description {
  margin-top: 0;
}

.experience-card .highlight {
  color: var(--primary-text-color);
}

.experience-card aside {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacer-xxsm);
  padding-bottom: var(--spacer-sm);  
  border-bottom: 1px solid var(--border-color);
}

.experience-card aside .role {
  grid-column: 1 / 2;
}

.experience-card aside .year {
  grid-column: 2 / 2;
}

@media screen and (min-width: 800px) {

  .experience-card main {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacer-lg);
  }
  
  .experience-card img {
    margin-top: 52px;
    grid-column: 3 / span 2;
  }

  .experience-card .description {
    margin-top: 52px;
  }

  .experience-card aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacer-lg);
  }
}

@media screen and (min-width: 1200px) {

  .experience-card main {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacer-lg);
  }

  .experience-card img {
    grid-column: 4 / span 1;
  }

  .experience-card aside {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* About */

.about {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: var(--spacer-lg);
  padding-top: var(--spacer-lg);
  padding-bottom: var(--spacer-xlg);
}

.about-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacer-sm);
  align-self: flex-start;
}


@media screen and (min-width: 800px) {

  .about {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacer-lg);
  }
}

@media screen and (min-width: 1200px) {

.about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacer-lg);
}

.col-2 {
  grid-column: 2 / span 1;
}

.col-3 {
  grid-column: 3 / span 1;
}

.col-4 {
  grid-column: 4 / span 1;
}
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: var(--spacer-xsm);
  align-items: center;
  padding-top: var(--spacer-md);
  padding-bottom: var(--spacer-lg);
}

/* Utilities */

.inline {
  width: auto;
  height: 24px;
}

.align-right {
  display: flex;
  justify-content: end;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); 
  white-space: nowrap;
}
